main {
  overflow-x: hidden; /*or overflow-x:scroll */
  display: flex;
}

h1 {
  margin: 20px;
  text-align: center;
}

section {
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
}

section:nth-child(even) {
  background-color: #ff7575;
  color: white;
}