@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

body {
  overflow: hidden;
}

main {
  overflow-x: hidden; /*or overflow-x:scroll */
  display: flex;
}

h1 {
  margin: 20px;
  text-align: center;
}

section {
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
  font-family: 'Zen Kurenaido', sans-serif;
}

section:nth-child(even) {
  background-color: #ff7575;
  color: white;
}